/* NORMALIZE */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    overflow-x: hidden;
}

/* HEADER */



/* INDEX */

.mainContentIndex {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 50px 1%;
}



.cardInfoContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.cardInfoContainer h3 {
    align-self: center;

}

.obraIndexContainer {
    width: 350px;
    display: flex;
    flex-direction: column;
    background-color: #023355;
    padding: 15px 10px;
    border-radius: 10px;
    box-shadow: 23px 23px 19px #989898,
        -23px -23px 19px #ffffff;
}

.obraIndexContainer h4 {
    text-align: center;
    color: white;
    font-size: 1.5rem;
}

.obraIndexContainer img {
    width: 100%;
    border-radius: 10px;
}


.titleSectionIndex h3 a {
    text-align: center;
    font-size: 2.3rem;
    color: black;
}





/* Contacto  */





/* Termina la sección contacto */






ul li a:hover{
    transition: all 2s;
    transform: scale(1.1);
    color: black;
    background-color: white;
    font-size: 2rem
}

.submit {
    background-color: #023355;
    padding: 10px 20px;
    font-size: 1.1rem;
    color: white;
    border-radius: 10px;
}

/* Prueba Grid en page Contacto */

/* Empieza Media query */


    


/* Termina media query */
