.mainContentContacto{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "form1 form1"
    "form2 form3";
    grid-template-rows: 800px 600px;
    .form2{
        grid-area: form2;
    }  
    .form3{
        grid-area: form3;
    }
    .formContainer{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        border-top: map-get($paleta-de-colores , negro) 2px solid;
        padding: 50px 3%;
        h3{
            font-size: 2rem
        }
        @extend .form;
    }
    .form1{
        grid-area: form1;
        display: flex;
        flex-direction: column;
        gap: 50px;
        justify-content: center;
        @extend .form;
        .formLinksContainer{
            display: flex;
            justify-content: space-evenly;
        }
    }  
}


@media screen and (max-width: 1200px){

    .mainContentContacto{
        grid-template-columns: 1fr;
        grid-auto-rows: max-content;
        /* grid-template-rows: 800px 600px 600px; */
        grid-template-areas:
        "form1"
        "form2" 
        "form3";
        justify-content: center;
        .form1, .form2, .form3{
            justify-content: center;
            .form{
                .inputContainer{
                width: 100%;}
            }
        }
        }
    }

    @media screen and (max-width: 500px){
        .mainContentContacto{
            .formLinksContainer{
                flex-direction: column;
                align-items: center;
                grid-template-rows: 500px 500px 500px;
            }
        }
    }













